<div th:fragment="header" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold  text-white text-uppercase border-bottom">
                Sports Footwear
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white second-text active"><i
                        class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white second-text fw-bold"><i    
                    class="fas fa-user me-2"></i>Clientes</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white second-text fw-bold">
                    <i
                    class="fas fa-user-tie me-2"></i>Clientes</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white second-text fw-bold"><i
                class="fas fa-gift me-2"></i>Productos</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white second-text fw-bold"><i
                        class="fas fa-shopping-cart me-2"></i>Pedidos</a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white fw-bold"><i
                        class="fas fa-power-off me-2"></i>Cerrar sesion</a>
            </div>
        </div>