<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<display-name>loginFilter</display-name>
  	<description></description>
  	<filter-class>filtros.loginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>perfilFilter</filter-name>
  	<display-name>perfilFilter</display-name>
  	<description></description>
  	<filter-class>filtros.perfilFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>validarLoginFilter</filter-name>
  	<display-name>validarLoginFilter</display-name>
  	<description></description>
  	<filter-class>filtros.validarLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<servlet-name>carritoFinalizarServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>perfilFilter</filter-name>
  	<servlet-name>perfilServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>validarLoginFilter</filter-name>
  	<servlet-name>loginServlet</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>cerrarSesionServlet</servlet-name>
  	<display-name>cerrarSesionServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.cerrarSesionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>carritoServlet</servlet-name>
  	<display-name>carritoServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.carritoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>carritoVistaServlet</servlet-name>
  	<display-name>carritoVistaServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.carritoVistaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>carritoFinalizarServlet</servlet-name>
  	<display-name>carritoFinalizarServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.carritoFinalizarServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>perfilServlet</servlet-name>
  	<display-name>perfilServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.perfilServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>catalogoServlet</servlet-name>
  	<display-name>catalogoServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.catalogoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>carritoAjaxServlet</servlet-name>
  	<display-name>carritoAjaxServlet</display-name>
  	<description></description>
  	<servlet-class>controlador.carritoAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cerrarSesionServlet</servlet-name>
  	<url-pattern>/cerrarSesionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>carritoServlet</servlet-name>
  	<url-pattern>/carritoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>carritoVistaServlet</servlet-name>
  	<url-pattern>/carritoVistaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>carritoFinalizarServlet</servlet-name>
  	<url-pattern>/carritoFinalizarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>perfilServlet</servlet-name>
  	<url-pattern>/perfilServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>catalogoServlet</servlet-name>
  	<url-pattern>/catalogoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>carritoAjaxServlet</servlet-name>
  	<url-pattern>/carritoAjaxServlet</url-pattern>
  </servlet-mapping>
 
  

  
  
  
</web-app>
